@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Delicious+Handrawn&family=Oswald:wght@200;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Delicious+Handrawn&family=Oswald:wght@200;400;500;600;700&family=Urbanist:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Delicious+Handrawn&family=Oswald:wght@200;400;500;600;700&family=Urbanist&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  overflow-x: hidden;
}

.Topcontainer {
  width: 100vw;
  overflow-x: hidden;
}
